[Desktop Entry]
Encoding=UTF-8
Name=Link to Design of the introductory Bayesian training
Type=Link
URL=http://vabar.es/vibass_dev_introductory_training/dev_intro_training.html#1
Icon=text-html
